Repository apache/incubator-hugegraph, pull requests merged in 2023-03, with the labels that each got.

#2095 refact: use standard UTF-8 charset & enhance CI configs
  .asf.yaml
  .github/workflows/check-dependencies.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/licence-checker.yml
  .github/workflows/stale.yml
  hugegraph-cassandra/src/main/java/org/apache/hugegraph/backend/store/cassandra/CassandraShard.java
  hugegraph-core/src/main/java/org/apache/hugegraph/analyzer/AnsjAnalyzer.java
  hugegraph-core/src/main/java/org/apache/hugegraph/backend/serializer/BytesBuffer.java
  hugegraph-core/src/main/java/org/apache/hugegraph/traversal/optimize/HugeScriptTraversal.java
  hugegraph-core/src/main/java/org/apache/hugegraph/type/define/Cardinality.java
  hugegraph-core/src/main/java/org/apache/hugegraph/util/LZ4Util.java
  hugegraph-core/src/main/java/org/apache/hugegraph/util/StringEncoding.java
  hugegraph-test/src/main/java/org/apache/hugegraph/tinkerpop/ProcessBasicSuite.java
  hugegraph-test/src/main/java/org/apache/hugegraph/tinkerpop/StructureBasicSuite.java
Labels: dependencies, apache

#2118 refact: use a slim way to build docker image on latest code & support zgc
  Dockerfile
  README.md
  hugegraph-dist/src/assembly/static/bin/hugegraph-server.sh
  hugegraph-dist/src/assembly/static/bin/init-store.sh
  hugegraph-dist/src/assembly/static/bin/start-hugegraph.sh
  hugegraph-dist/src/assembly/travis/run-api-test.sh
Labels: improvement, ci-cd

#2136 feat: support parallel compress snapshot
  hugegraph-core/src/main/java/org/apache/hugegraph/backend/store/raft/RaftContext.java
  hugegraph-core/src/main/java/org/apache/hugegraph/backend/store/raft/StoreSnapshotFile.java
  hugegraph-core/src/main/java/org/apache/hugegraph/backend/store/raft/compress/CompressStrategy.java
  hugegraph-core/src/main/java/org/apache/hugegraph/backend/store/raft/compress/CompressStrategyManager.java
  hugegraph-core/src/main/java/org/apache/hugegraph/backend/store/raft/compress/ParallelCompressStrategy.java
  hugegraph-core/src/main/java/org/apache/hugegraph/backend/store/raft/compress/SerialCompressStrategy.java
  hugegraph-core/src/main/java/org/apache/hugegraph/config/CoreOptions.java
  hugegraph-dist/src/assembly/static/conf/graphs/hugegraph.properties
Labels: raft

#2128 chore: remove stage-repo in pom due to release done & update mail rule
  .asf.yaml
  pom.xml
Labels: dependencies, apache
