Repository apache/incubator-hugegraph, pull requests merged in 2023-10, with the labels that each got.

#2307 feat: support Cassandra in docker-compose with server
  .licenserc.yaml
  Dockerfile
  LICENSE
  hugegraph-dist/docker/docker-entrypoint.sh
  hugegraph-dist/docker/example/docker-compose-cassandra.yml
  hugegraph-dist/docker/scripts/detect-storage.groovy
  hugegraph-dist/docker/scripts/remote-connect.groovy
  hugegraph-dist/release-docs/LICENSE
  hugegraph-dist/src/assembly/static/bin/docker-entrypoint.sh
  hugegraph-dist/src/assembly/static/bin/gremlin-console.sh
  hugegraph-dist/src/assembly/static/bin/wait-storage.sh
Labels: ci-cd, cassandra

#2312 feat(core): support batch+parallel edges traverse
  hugegraph-core/src/main/java/org/apache/hugegraph/backend/query/EdgesQueryIterator.java
  hugegraph-core/src/main/java/org/apache/hugegraph/task/TaskManager.java
  hugegraph-core/src/main/java/org/apache/hugegraph/traversal/algorithm/HugeTraverser.java
  hugegraph-core/src/main/java/org/apache/hugegraph/traversal/algorithm/KneighborTraverser.java
  hugegraph-core/src/main/java/org/apache/hugegraph/traversal/algorithm/KoutTraverser.java
  hugegraph-core/src/main/java/org/apache/hugegraph/traversal/algorithm/OltpTraverser.java
  hugegraph-core/src/main/java/org/apache/hugegraph/traversal/algorithm/records/KneighborRecords.java
  hugegraph-core/src/main/java/org/apache/hugegraph/traversal/algorithm/steps/Steps.java
  hugegraph-core/src/main/java/org/apache/hugegraph/util/Consumers.java
  hugegraph-rocksdb/src/main/java/org/apache/hugegraph/backend/store/rocksdb/RocksDBStore.java
Labels: improvement, api, perf

#2294 feat(WIP): add IntMapByDynamicHash
  hugegraph-core/src/main/java/org/apache/hugegraph/util/collection/IntMapByDynamicHash.java
  hugegraph-core/src/main/java/org/apache/hugegraph/util/collection/IntMapByDynamicHash2.java
  hugegraph-test/src/main/java/org/apache/hugegraph/unit/util/collection/IntMapTest.java
  hugegraph-test/src/test/java/org/apache/hugegraph/benchmark/map/MapRandomGetPutThroughputTest.java
Labels: improvement, perf

#2300 feat(cassandra): adapt cassandra from 3.11.12 to 4.0.10
  hugegraph-cassandra/pom.xml
  hugegraph-cassandra/src/main/java/org/apache/hugegraph/backend/store/cassandra/CassandraMetrics.java
  hugegraph-cassandra/src/main/java/org/apache/hugegraph/backend/store/cassandra/CassandraShard.java
  hugegraph-dist/release-docs/LICENSE
  hugegraph-dist/scripts/dependency/known-dependencies.txt
  hugegraph-dist/src/assembly/travis/install-cassandra.sh
Labels: dependencies, cassandra
