Repository apache/incubator-hugegraph, pull requests merged in 2024-09, with the labels that each got.

#2651 chore: set the `skipCommonsTests` property to `true` by default
  .github/workflows/commons-ci.yml
  hugegraph-commons/pom.xml
  hugegraph-server/hugegraph-dist/src/assembly/travis/run-api-test-for-raft.sh
  hugegraph-server/hugegraph-dist/src/assembly/travis/run-api-test.sh
  hugegraph-server/hugegraph-dist/src/assembly/travis/run-core-test.sh
  hugegraph-server/hugegraph-dist/src/assembly/travis/run-tinkerpop-test.sh
  hugegraph-server/hugegraph-dist/src/assembly/travis/run-unit-test.sh
Labels: ci-cd, size:S, lgtm

#2661 chore(server): mark old raft configs as deprecated
  hugegraph-server/hugegraph-dist/src/assembly/static/conf/graphs/hstore.properties.template
  hugegraph-server/hugegraph-dist/src/assembly/static/conf/graphs/hugegraph.properties
  hugegraph-server/hugegraph-dist/src/assembly/travis/conf-raft1/graphs/hugegraph.properties
  hugegraph-server/hugegraph-dist/src/assembly/travis/conf-raft2/graphs/hugegraph.properties
  hugegraph-server/hugegraph-dist/src/assembly/travis/conf-raft3/graphs/hugegraph.properties
Labels: raft, size:M, lgtm

#2640 fix(pd):PartitionCache lockGraph Logic error
  hugegraph-pd/hg-pd-common/src/main/java/org/apache/hugegraph/pd/common/PartitionCache.java
Labels: inactive, pd, size:XS, lgtm

#2592 chore: fix lombok compiling error and error for list cast to string
  hugegraph-commons/hugegraph-common/pom.xml
  hugegraph-commons/hugegraph-dist/scripts/dependency/known-dependencies.txt
  hugegraph-commons/pom.xml
  hugegraph-pd/hg-pd-client/pom.xml
  hugegraph-pd/hg-pd-common/pom.xml
  hugegraph-pd/hg-pd-core/pom.xml
  hugegraph-pd/hg-pd-service/pom.xml
  hugegraph-pd/hg-pd-test/pom.xml
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/core/GraphManager.java
  hugegraph-store/hg-store-cli/pom.xml
  hugegraph-store/hg-store-client/pom.xml
  hugegraph-store/hg-store-core/pom.xml
  hugegraph-store/hg-store-node/pom.xml
  hugegraph-store/hg-store-rocksdb/pom.xml
  hugegraph-store/hg-store-test/pom.xml
  install-dist/scripts/dependency/known-dependencies.txt
  pom.xml
Labels: dependencies, size:L, lgtm
