Repository apache/incubator-hugegraph, pull requests merged in 2024-03, with the labels that each got.

#2463 fix(pd-store): fix hstore backend api tests failure
  hugegraph-server/hugegraph-hstore/src/main/java/org/apache/hugegraph/backend/store/hstore/HstoreMetrics.java
  hugegraph-server/hugegraph-hstore/src/main/java/org/apache/hugegraph/backend/store/hstore/HstoreSessions.java
  hugegraph-server/hugegraph-hstore/src/main/java/org/apache/hugegraph/backend/store/hstore/HstoreSessionsImpl.java
  hugegraph-server/hugegraph-hstore/src/main/java/org/apache/hugegraph/backend/store/hstore/HstoreStore.java
  hugegraph-server/hugegraph-test/src/main/java/org/apache/hugegraph/api/MetricsApiTest.java
Labels: bug, ci-cd, tests, size:M, lgtm, hstore

#2467 fix(server): add tip for gremlin api NPE with empty query
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/api/gremlin/GremlinAPI.java
Labels: bug, api, gremlin, size:XS, lgtm

#2462 fix(server):fix the metric name when promthus collect hugegraph metric,see issue
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/metrics/MetricsUtil.java
Labels: bug, size:XS, lgtm

#2473 fix(server): 'serverStarted' error when execute gremlin example
  hugegraph-server/hugegraph-dist/src/assembly/static/scripts/example.groovy
Labels: bug, gremlin, size:XS, lgtm

#2422 fix(auth): enhance the URL check
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  hugegraph-server/hugegraph-api/pom.xml
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/api/filter/AuthenticationFilter.java
  hugegraph-server/hugegraph-dist/scripts/dependency/known-dependencies.txt
  hugegraph-server/hugegraph-dist/scripts/dependency/regenerate_known_dependencies.sh
Labels: api, security, size:M, lgtm

#2460 chore(pd-store-dev): integrate `pd-grpc`, `pd-common`, `pd-client` into hugegraph
  .github/workflows/check-dependencies.yml
  .github/workflows/ci.yml
  .github/workflows/pd-store.yml
  hugegraph-pd/.gitignore
  hugegraph-pd/README.md
  hugegraph-pd/hg-pd-client/pom.xml
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/AbstractClient.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/AbstractClientStubProxy.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/Channels.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/ClientCache.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/Discoverable.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/DiscoveryClient.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/DiscoveryClientImpl.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/KvClient.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/LicenseClient.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/PDClient.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/PDConfig.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/PDPulse.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/PDPulseImpl.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/PDWatch.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/client/PDWatchImpl.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/pulse/PartitionNotice.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/pulse/PulseServerNotice.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/watch/NodeEvent.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/watch/PDWatcher.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/watch/PartitionEvent.java
  hugegraph-pd/hg-pd-client/src/main/java/org/apache/hugegraph/pd/watch/WatchType.java
  hugegraph-pd/hg-pd-common/pom.xml
  hugegraph-pd/hg-pd-common/src/main/java/org/apache/hugegraph/pd/common/GraphCache.java
  hugegraph-pd/hg-pd-common/src/main/java/org/apache/hugegraph/pd/common/HgAssert.java
  hugegraph-pd/hg-pd-common/src/main/java/org/apache/hugegraph/pd/common/KVPair.java
  hugegraph-pd/hg-pd-common/src/main/java/org/apache/hugegraph/pd/common/PDException.java
  hugegraph-pd/hg-pd-common/src/main/java/org/apache/hugegraph/pd/common/PDRuntimeException.java
  hugegraph-pd/hg-pd-common/src/main/java/org/apache/hugegraph/pd/common/PartitionCache.java
  hugegraph-pd/hg-pd-common/src/main/java/org/apache/hugegraph/pd/common/PartitionUtils.java
  hugegraph-pd/hg-pd-grpc/pom.xml
  hugegraph-pd/hg-pd-grpc/src/main/proto/discovery.proto
  hugegraph-pd/hg-pd-grpc/src/main/proto/kv.proto
  hugegraph-pd/hg-pd-grpc/src/main/proto/metaTask.proto
  hugegraph-pd/hg-pd-grpc/src/main/proto/metapb.proto
  hugegraph-pd/hg-pd-grpc/src/main/proto/pd_common.proto
  hugegraph-pd/hg-pd-grpc/src/main/proto/pd_pulse.proto
  hugegraph-pd/hg-pd-grpc/src/main/proto/pd_watch.proto
  hugegraph-pd/hg-pd-grpc/src/main/proto/pdpb.proto
  hugegraph-pd/hg-pd-test/pom.xml
  hugegraph-pd/hg-pd-test/src/main/java/org/apache/hugegraph/pd/common/BaseCommonTest.java
  hugegraph-pd/hg-pd-test/src/main/java/org/apache/hugegraph/pd/common/CommonSuiteTest.java
  hugegraph-pd/hg-pd-test/src/main/java/org/apache/hugegraph/pd/common/HgAssertTest.java
  hugegraph-pd/hg-pd-test/src/main/java/org/apache/hugegraph/pd/common/KVPairTest.java
  hugegraph-pd/hg-pd-test/src/main/java/org/apache/hugegraph/pd/common/PartitionCacheTest.java
  hugegraph-pd/hg-pd-test/src/main/java/org/apache/hugegraph/pd/common/PartitionUtilsTest.java
  hugegraph-pd/hg-pd-test/src/main/resources/log4j2.xml
  hugegraph-pd/pom.xml
  hugegraph-server/hugegraph-core/src/main/java/org/apache/hugegraph/version/CoreVersion.java
  pom.xml
Labels: feature, pd, size:XXL, lgtm

#2477 feat: added the OpenTelemetry trace support
  .gitignore
  README.md
  hugegraph-server/hugegraph-dist/docker/README.md
  hugegraph-server/hugegraph-dist/docker/conf/grafana-datasources.yaml
  hugegraph-server/hugegraph-dist/docker/conf/prometheus.yaml
  hugegraph-server/hugegraph-dist/docker/conf/tempo.yaml
  hugegraph-server/hugegraph-dist/docker/example/docker-compose-trace.yaml
  hugegraph-server/hugegraph-dist/src/assembly/static/bin/hugegraph-server.sh
  hugegraph-server/hugegraph-dist/src/assembly/static/bin/start-hugegraph.sh
  hugegraph-server/hugegraph-dist/src/assembly/static/bin/util.sh
  hugegraph-server/hugegraph-dist/src/assembly/travis/start-server.sh
Labels: feature, ci-cd, size:L, lgtm

#2479 feat(pd-store): added the OpenTelemetry trace support for pd-store
  hugegraph-pd/hg-pd-dist/src/assembly/static/bin/start-hugegraph-pd.sh
  hugegraph-store/hg-store-dist/src/assembly/static/bin/start-hugegraph-store.sh
Labels: feature, pd, store, size:L, lgtm

#2470 chore(server): clear context after req done
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/api/auth/LoginAPI.java
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/api/filter/AccessLogFilter.java
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/api/filter/AuthenticationFilter.java
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/auth/ConfigAuthenticator.java
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/auth/HugeAuthenticator.java
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/auth/HugeGraphAuthProxy.java
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/auth/StandardAuthenticator.java
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/config/ServerOptions.java
  hugegraph-server/hugegraph-api/src/main/java/org/apache/hugegraph/core/GraphManager.java
  hugegraph-server/hugegraph-dist/src/assembly/static/conf/rest-server.properties
  hugegraph-server/hugegraph-test/src/main/java/org/apache/hugegraph/api/ArthasApiTest.java
  hugegraph-server/hugegraph-test/src/main/java/org/apache/hugegraph/api/BaseApiTest.java
  hugegraph-server/hugegraph-test/src/main/java/org/apache/hugegraph/api/LoginApiTest.java
Labels: api, size:L, lgtm

#2495 chore: add swagger-ui LICENSE relative files
  hugegraph-server/hugegraph-dist/release-docs/LICENSE
  hugegraph-server/hugegraph-dist/release-docs/NOTICE
  hugegraph-server/hugegraph-dist/release-docs/licenses/LICENSE-swagger-ui.txt
Labels: feature, size:XS, lgtm
